frontend/data/data_*.csv
!frontend/data/data_test.csv
frontend/node_modules/
*.vhdl.bak
*.vhd.bak
src/quartus/*
!src/quartus/output_files/iac_toplevel.sof
!src/quartus/iac_toplevel.qpf
src/modelsim/iac_testbench.cr.mti
src/modelsim/work/
src/modelsim/transcript
