frontend/data_*.csv
frontend/node_modules/
*.vhdl.bak
*.vhd.bak
src/quartus/db/
src/quartus/incremental_db/
src/quartus/simulation/
src/quartus/PLLJ_PLLSPE_INFO.txt
*.odt
src/modelsim/iac_testbench.cr.mti
src/modelsim/work/*
src/modelsim/transcript
