frontend/data_*.csv
frontend/node_modules/
*.vhdl.bak
*.vhd.bak
src/quartus/db/
src/quartus/incremental_db/
src/quartus/simulation/
src/quartus/output_files/
src/quartus/PLLJ_PLLSPE_INFO.txt
src/modelsim/iac_testbench.cr.mti
src/modelsim/work/
src/modelsim/transcript
