@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: url("../fonts/montserrat-v10-latin-regular.eot"); /* IE9 Compat Modes */
	src: local("Montserrat Regular"), local("Montserrat-Regular"),
		 url("../fonts/montserrat-v10-latin-regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
		 url("../fonts/montserrat-v10-latin-regular.woff2") format("woff2"), /* Super Modern Browsers */
		 url("../fonts/montserrat-v10-latin-regular.woff") format("woff"), /* Modern Browsers */
		 url("../fonts/montserrat-v10-latin-regular.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("../fonts/montserrat-v10-latin-regular.svg#Montserrat") format("svg"); /* Legacy iOS */
}
html {
	font-size: 16px;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: geometricPrecision;
	-webkit-touch-callout: none;
	-webkit-text-size-adjust: none;

	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

	color: #333;

	font-family: "Montserrat", Helvetica, Tahoma, Arial, sans-serif;
	font-size: 1em;
	font-weight: 400;
	line-height: 1.5;
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: auto;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}
svg text {
	font-family: "Montserrat", Helvetica, Tahoma, Arial, sans-serif;	
}
input[type="date"] {
	padding: 0.25em;
	font-size: inherit;
}

button {
	cursor: pointer;
	padding: 0.5em 1em;
	min-width: 7em;
	font-size: 0.9em;
	background: white;
	border: 0.15em solid #333;
	color: #333;
	font-weight: bold;
	border-radius: 4px;
	outline: none;
	margin: 0 4px;
	flex-grow: 0;
}
button:active, button:hover {
	background: #333;
	color: white;
}
button#selectLight {
	border-color: #dc9e04;
	color: #dc9e04;
}
button:hover#selectLight, button:active#selectLight {
	background: #dc9e04;
	color: white;
}
button#selectMoisture {
	border-color: #178bca;
	color: #178bca;
}
button:active#selectMoisture, button:hover#selectMoisture {
	background: #178bca;
	color: white;
}
button#selectTemperature {
	border-color: #f44336;
	color: #f44336;
}
button:active#selectTemperature, button:hover#selectTemperature {
	background: #f44336;
	color: white;
}
button#selectCo2 {
	border-color: #669900;
	color: #669900;
}
button:active#selectCo2, button:hover#selectCo2 {
	background: #669900;
	color: white;
}
label > span {
	display: inline-block;
	min-width: 7em;
}
.flex-fill { flex-grow: 1 }

#linechart {
	margin-left: 2.25em;
}

.main {
	flex-grow: 1;
	padding: 1em 0;
}
.main-container {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 1em;
}
.main-values {
	margin: 2em 0;
	padding: 0 1em;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.main-values-item {
	margin: 2em 12px;
	flex-grow: 1;
}
.main-values-item > * {
	display: inline-block;
}
.main-values-item > label {
	width: 12em;
	position: relative;
	font-weight: bold;
}
.main-values-item > input {
	width: 5em;
	text-align: center;
}
.main-values-item-val {
	text-align: right;
	padding: 3px;
	width: 5.5em;
}
.main-values-item-watermark {
	position: absolute;
	left: -10%;
	top: -150%;
	font-size: 5em;
	color: rgba(0, 0, 0, 0.2);
	z-index: -1;
}
.main-values-item-watermark .fa-lightbulb-o {
	color: rgba(220, 158, 4, 0.5);
}
.main-values-item-watermark .fa-tint {
	color: rgba(23, 139, 202, 0.5);
}
.main-values-item-watermark .fa-thermometer-full {
	color: rgba(244, 67, 54, 0.5);
}
.main-values-item-watermark .fa-leaf {
	color: rgba(102, 153, 0, 0.5);
}
.main-values-controls {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	margin: 1em 0;
	min-width: 100%;
}
.main-values-controls > ul {
	padding: 0;
	list-style-type: none;
}
.main-values-controls > ul li {
	display: inline-block;
	margin-right: 0.75em;
}
.main-values-controls > ul li[active="true"] .fa {
	color: #669900;
}
.main-values-controls > ul li[active="false"] .fa {
	color: #888;
}
.main-archive-form {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media all and (max-width: 1000px) {
	html {
		font-size: 1.7vw;
	}
	.main-archive-form {
		flex-wrap: wrap;
		justify-content: flex-start;
	}
	.main-archive-form .flex-fill {
		width: 100%;
		margin-bottom: 1em;
	}
	.main-values-item > label {
		width: 		
	}
}

@media all and (max-width: 720px) {
	html {
		font-size: 12px;
	}
	.main-values {
		justify-content: space-around;
	}
	.main-values-item {
		flex-grow: 0;
	}
	.main-values-item-val {
		margin-right: 1em;
	}

	label > span {
		min-width: 0;
		margin-right: 5px;
	}
}
